# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore environment variables file
.env
.env.dev
.env.prod

# Ignore built files
dist/

# Ignore any editor-specific files
.vscode/
.idea/

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db
